<h1>Арендованные велосипеды</h1>

<div id="calendar">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
    <%= calendar @date do |date| %>
      <%= puts date %>
      <%= puts @rents_by_date %>

        <%= date.day %>
      <% if @rents_by_date[date] %>
          <%= puts 'YYYYYYYYYYEEEEEEEEEEEEEEEEEEEEEHHHHHHHHHHH!' %>
        <ul>
          <% @rents_by_date[date].each do |rent| %>

            <li><%= link_to rent.bicycle.name, rent.bicycle %></li>
          <% end %>
        </ul>
      <% end %>
    <% end  %>
</div>